# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Entornos virtuales de Python
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración local
*.env
*.local

# Dependencias
node_modules/
bower_components/

# Archivos de compilación
*.class
*.log
*.out
*.obj
*.o
*.so
*.exe

# Archivos de bases de datos locales
*.sqlite3
*.db

# Archivos de registro
logs/
*.log

# Archivos relacionados con Git
.idea/
.vscode/
*.swp
*.bak
*.tmp
*.orig

# Archivos de empaquetado
*.zip
*.tar.gz
*.7z


#keys
*.crt
*.key
*.pfx

